.title{
    text-align: center;
    background-color: blueviolet;
    color: white;
}

.content{
    text-align: left;
    background-color: cyan;
    color: brown;
    text-align: center;
}

.footer{
    text-align: center;
    background-color: yellow;
    color: black;
}

.btn-submit{
    background-color: green;
    color: white;
}

.text-practice-two {
    border: 1px solid blue;
    outline: 2px solid blue;
    color: green;
}
